/* Style de base */
body {
    overflow: hidden;
    background-image: url(img/back2.jpg);
    font-family: Typerwriter;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    color: #2D3621;
    background-color: #E8E3DB;
    /* L'espacement du top est là pour éviter que le contenu ne soit caché sous le menu */
}



@font-face {
    font-family: "Typerwriter";
    src: url("police/JMH\ Typewriter-Thin.otf");
}




/* Menu */
#menu {
    pointer-events: none;

    background-image: url(img/back2.jpg);
    height: 80px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 90;
    position: relative; /* Pour positionner le sous-menu correctement */
}




#menu a {
    color: #2D3621;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
    pointer-events: auto; /* pour que les liens du menu restent cliquables */

}

#menu a:hover {
    color: #7a9457;
}

#menu a.active {
    color: #7a9457;
}

#menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    background-color: #879457;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

#menu a:hover::after,
#menu a.active::after {
    width: 50%;
    left: 25%;
}



/* HOME */

#home {
    font-size: 24px;
    position: fixed;
    /* Fixe le contenu sur la page */
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    /* Assure que la section occupe toute la fenêtre */
    /* Supprime tout débordement */
    display: flex;
    align-items: top;
    justify-content: center;
    text-align: center;

}

#presentation {
    margin-top: 120px;
}


#prenom {
    color: #7a9457;
}

.reveal {
    position: relative;
    display: inline-block;
    bottom: -10px;
    overflow: hidden;
    color: black;
    z-index: 1; /* Le texte doit être en-dessous du cache */
  }
  
  .reveal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:black; /* Cache blanc */
    z-index: 2; /* S’assurer que le cache est bien au-dessus */
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
  }
  
  .reveal:hover::after {
    transform: translateX(100%);
  }
  
  
  
  
 
/* Sections */
section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Cache la section */
    pointer-events: none; /* Empêche les interactions */
    transition: opacity 0.5s ease-in-out;
  }

section.active {
    display: relative;
    opacity: 1;
    pointer-events: auto;
}


/*page services
/* Container des services */

#about {
    margin-top: 120px;
}

#services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 90%;
    margin: auto;
    gap: 50px
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 5px dashed #855e3b;
    box-shadow: 20px 20px rgba(0,0,0,.15),
        0 0 0 2.5px #000000,
        inset 0 0 0 2.5px #6D4C3D;
    color: black;
    transition: all .4s ease;
    text-align: center; /* Centre le texte */
}

.service:hover {
    border-radius: 30px;
    box-shadow: 10px 10px rgba(0,0,0,.50),
        0 0 0 2.5px #6D4C3D,
        inset 0 0 0 2.5px #6D4C3D;
}

.service img {
    max-width: 150px;
    margin-bottom: 10px; /* Ajoute un espace entre l'image et le texte */
}



/* Bouton au centre */
.contact-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    cursor: pointer;
    text-align: center;
}

.contact-button {
    max-width: 120px;
}

.contact-button-container:hover .contact-button {
    animation: tilt-shaking 0.25s infinite;
}

.mecontacter {
    font-size: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    /* Centre le texte */
}

.mecontacter::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    /* Distance sous le texte */
    width: 100%;
    height: 2px;
    /* Épaisseur du soulignement */
    background-color: black;
    transform: scaleX(0);
    /* Caché par défaut */
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}



.contact-button-container:hover .mecontacter::after {
    transform: scaleX(1);
    /* Soulignement visible */

}


@keyframes tilt-shaking {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0eg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@media (max-width: 768px) {
    #services-container {
        grid-template-columns: 1fr;
    }

    .contact-button-container {
        grid-column: span 1;
    }
}





/*Portfolio*/
.projects-page #menu {
    background-image: none;
    background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.0) 100%
  );
    
}


.projects-page #menu a {
color: #fff;}


.projects-page #menu a:hover {
    color: #a5c977;
}

.projects-page #menu a.active {
    color: #a5c977;
}

.content {
   max-width: 200px;
        
 color: rgb(255, 255, 255);
 
 transition: all .4s ease;
 position: absolute;
 top: 25%;
 left: 100px;
 display: none;
}
 






 .video-item {
     width: 200px;
     height: 300px;
     position: absolute;
     top: 50%;
     transform: translate(0, -50%);
     border-radius: 20px;
      background-position: 50% 50%;
     background-size: cover;
     display: inline-block;
     transition: 0.5s;
 }
 
 .video-item .content {
    max-width: 200px;
        
    color: rgb(255, 255, 255);
    transition: all .4s ease;
    position: absolute;
    top: 25%;
    left: 100px;
    display: none;
 }
 
 .video-item .video {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 20px;
 }
 
 

 .item {
     width: 110px;
     height: 170px;
     position: absolute;
     top: 50%;
     transform: translate(0, -50%);
     border-radius: 20px;
     background-position: 50% 50%;
     background-size: cover;
     display: inline-block;
     transition: 0.5s;
 
 }
 
 .slide .item:nth-child(1),
 .slide .item:nth-child(2){
     top: 0;
     left: 0;
     transform: translate(0, 0);
     border-radius: 0;
     width: 100%;
     height: 100%;
 }
 
 
 .slide .item:nth-child(3){
    top: 75%;;
     left: 33%;
     filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));


 }
 .slide .item:nth-child(4){
    top: 75%;;
     left: calc(33% + 220px);
     filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));

 }
 .slide .item:nth-child(5){
    top: 75%;
     left: calc(33% + 440px);
     filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));

 }
 
 /* here n = 0, 1, 2, 3,... */
 .slide .item:nth-child(n + 6){
     left: calc(50% + 660px);
     opacity: 0;

 }
 

/* Content visibility for the second slide */
.slide .item:nth-child(2) .content {
    display: block;
}
 
 .content .name {
     font-size: 30px;
     text-transform: uppercase;
     font-weight: bold;
     opacity: 0;
     animation: animate 1s ease-in-out 1 forwards;
     
 }
 
 .content .des {
     margin-top: 10px;
     margin-bottom: 20px;
     opacity: 0;
     animation: animate 1s ease-in-out 0.3s 1 forwards;
 }
 
 .content button {
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     opacity: 0;
     animation: animate 1s ease-in-out 0.6s 1 forwards;
 }
 
 
 @keyframes animate {
     from {
         opacity: 0;
         transform: translate(0, 100px);
         filter: blur(33px);
     }
 
     to {
         opacity: 1;
         transform: translate(0);
         filter: blur(0);
     }
 }
 
 
 
 .button {
    display: flex;
     width: 100%;
     text-align: center;
     position: absolute;
     justify-content: center;
     bottom: 0px;
 }

 
 .prev img, .next img {
    width: 100px;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.6));


}
    
 
 

 .popup {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup-content {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    position: relative;
  }

  .popup iframe {
    width: 100%;
    height: 100%;
    border: none;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }



#openInstagramFeed {
    position: relative;
    z-index: 2; /* S'assurer que le bouton est au-dessus des autres éléments */
}


.overlay-ig {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;

  }


.popup-ig {
    margin-top: 100px;
    position: relative;
       z-index: 1010; /* la popup doit être par dessus */
    display: none; /* Initialement caché */

}




/* Bouton de fermeture */
.close-popup-ig {
    position: relative;
    font-size: 28px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: white;
    z-index: 1020; /* Bouton de fermeture au-dessus de la popup */

  }
  
  /* Cacher les éléments */
  .hidden {
    display: none;
  }





 

#contact {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

#text-contact {
    font-size: xx-large;
}